@import "tailwindcss";

@font-face {
  font-family: "InterDisplay";
  src: url("/src/assets/font/InterDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "InterDisplay", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;

  font-size: 16px;
}

.gradient {
  background-image: linear-gradient(180deg, #ffffff 0%, #ececec 100%);
}
